crops/
dataset_backup/
label_data/
label_data_dataset/
__pycache__/
/script/*.pt
/script/label_data_PR
/script/runs
/script/*log
/script/*ttf
/script/.cometml-runs
temp_reorganize/
models/
/script/quick_test_results/
Fonts/
logs/
mlruns/
experiments/
quick_test_results
runs/
single_class_dataset/
.cometml-runs/
annotations_coco/
annotations_yolo/
overfit_label_data_dataset/
single_class_dataset_yolo/
overfit_label_data_dataset_yolo/
annotations_yolo_coco/
single_class_dataset_yolo_coco/
dataset/
dataset_anylabel/
script/.cometml-runs/models/
temp_result/

experiments*
*.pt
log*